{{ define "main" }}

{{ with or (.Params.epub) (.Params.pdf)}}
  <a class="download-title" >Téléchargements :</a>
{{ end }}
{{ with .Params.epub }}
  <a class="download-file" href="livre.epub">epub</a>
{{ end }}
{{ with .Params.pdf }}
  <a class="download-file" href="livre.pdf">pdf</a>
{{ end }}
<h1 class="post-title">{{ .Title }}</h1>

<br>

{{ .Content }}

{{ end }}
