/* base */
p {
  text-align: justify;
}

a {
  background-image: none;
}

a:visited, a:link {
  color: #41403e;
  
}
a:link {
  text-decoration: underline;
}

div.nav-brand a, div.collapsible a {
text-decoration: none;
}

.paper-btn:focus,
[type=button]:focus,
button:focus {
  border: 2px solid #41403e;
  box-shadow: 2px 8px 4px -6px rgba(0,0,0,.3)
}

.download-title {
  margin-top: 5px;
  text-decoration: none;
}
.download-file, .download-title {
  text-align: right;
  display: block;
  position: relative;
}
.download-file {
  text-decoration: underline;
}
