{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ range .Data.Terms.Alphabetical }}
  <h2 class="post-list">
    <span class="badge">{{ .Count }}</span> 
    <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
  </h2>
{{ end }}

{{ end }}
